<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>Request_Dispatcher</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
  <servlet-name>reqdispone</servlet-name>
  <servlet-class>ReqDisp_One</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>reqdispone</servlet-name>
  <url-pattern>/first</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>reqdisptwo</servlet-name>
  <servlet-class>ReqDisp_Two</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>reqdisptwo</servlet-name>
  <url-pattern>/second</url-pattern>
  </servlet-mapping>
</web-app>